.div {
   
    position: relative;
    width: 70%;
    left: 10%;
    margin-top: 100px;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
}

.div li {
    text-decoration: none;
}

.div img {

 width: 33%;

}