.card {
    width: 23%;
    height: 20%;
    background-color: black;
    margin: 5px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    height:250px;
    object-fit: cover;
    border-radius: 20px;
}

.card .descp {

    font-size: 14px;

}



.card p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.3; 
    width: 90%;
    margin-left: 10px;
}

.icn {
    font-size: 20px;
    color: white;
}