@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
.main {
    display: flex;
}
.nav {
    background: #222831; 
    max-width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
   
    font-family: 'Comfortaa', sans-serif;
    
}


.nav ul {
    list-style: none;
    position: relative;
    top: -150px;
    
}

.link {
    color: white;
    text-decoration: none;
}


.nav .div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
    background-color: #ff5722;
    transition: all ease 0.5s;
    border-radius:  0 10px 10px 0 ;
  
    
}

.nav .div:hover {
   transform: scale(1.1);
}
.nav div img {
    width: 8%;
    anchor-scope: 3/2;
    object-fit: contain;
   
}
.nav .logo  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.nav .logo img {
    width: 15%
}