@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
.main {
    display: flex;
    font-family: 'Comfortaa', sans-serif;
   
    

}
.nav {
    background: #222831; 
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    
    
    
}


.nav ul {
    list-style: none;
    position: relative;
    top: -150px;
    
}

.link {
    color: white;
    text-decoration: none;
}


.nav .div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
    background-color: #ff5722;
    transition: all ease 0.5s;
    border-radius:  0 10px 10px 0 ;
  
    
}

.nav .div:hover {
   transform: scale(1.1);
}
.nav div img {
    width: 8%;
    anchor-scope: 3/2;
    object-fit: contain;
   
}
.nav .logo  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

.nav .logo img {
    width: 15%
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5722;
    width: 60%;
    margin-top: 10px;
    position: absolute;
    top: 0;
    border-radius: 20px;
    left: 30%;
}

.bar ul {
    list-style: none;
    display: flex;
}
.bar ul li {
    padding: 20px;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    transition: all ease 0.5s;
   


}
.bar ul li:hover {
    opacity: 1;
    transform: scale(1.1);

    

}

.bar ul link {
    text-decoration: none;
}

.bar .search {
    margin-right: 20px;
}
.bar .search {
    margin-right: 60px;
}

.bar input {
    background-color: #222831;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 17px;
}
.bar button {
    background-color: #222831;
    float: right;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    transition: all ease 0.5s;
    border-radius: 0 5px 5px 0;
   
}
.bar button:hover {

    background-color: black;

}